<!--begin::Toast-->
<div class="position-fixed bottom-0 end-0 p-3 z-index-3">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #d1ecf1;">
        <div class="toast-header">
            <span class="svg-icon svg-icon-2 svg-icon-primary me-3">...</span>
            <strong class="me-auto">Новое уведомление</strong>
            <small>Срочность: важно</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{alerts}}
        </div>
    </div>
</div>
<!--end::Toast-->