{% load static %}
{% load interface_parameters %}
{% load alerts %}
<html lang="ru">
	{% block header %}HEADER{% endblock %}
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed {% show_is_sidebar_top user.pk%}" style="--kt-toolbar-height:0px;--kt-toolbar-height-tablet-and-mobile:0px;background-image: url('{% show_background user.pk %}');background-size:cover;">
		<div class="d-flex flex-column flex-root">
			<div class="page d-flex flex-row flex-column-fluid">
				{% block sidebar %}SIDEBAR{% endblock %}
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					{% include 'inc/_nav.html' %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						{% block toolbar %}TOOLBAR{% endblock %}
						<div class="post d-flex flex-column-fluid" id="kt_post">
							{% if success %}
							{% show_alerts request.resolver_match.url_name %}
							{% endif %}
							{% block content %}CONTENT{% endblock %}
						</div>
					</div>
					{% block footer %}FOOTER{% endblock %}
				</div>
			</div>
		</div>
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
				</svg>
			</span>
		</div>

		{% include 'inc/_chat.html' %}
		{% block chat %}{% endblock %}

		{% include 'inc/_notifications.html' %}
		{% block notifications %}{% endblock %}

		{% include 'inc/_js_files.html' %}
		{% block js_files %}{% endblock %}
		<script src="{% static 'js/custom.js' %}" ></script>
		<script src="{% static 'js/messages.js' %}"></script>
	</body>
</html>