{% extends 'base.html' %}

{% block title %}
    {{ title }}::{{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'inc/_footer.html' %}
{% endblock %}

{% block header %}
    {% include 'inc/_header.html' %}
{% endblock %}

{% block toolbar%}
    {% include 'inc/_toolbar.html' %}
{% endblock %}


{% block content %}
<div class="card-body">
{% if type == 'add_todo'%}
<h1>Добавление задачи</h1>
<form action="{% url 'add_todo' %}" method="post" enctype="multipart/form-data">
{% elif type == 'update_todo'%}
<h1>Редактирование задачи #{{todo_main.pk}} - {{todo_main.title}}</h1>
<form action="{% url 'todo_update' todo_main.pk %}" method="post" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
{{ todo.media }}
    <div class="d-flex flex-column flex-xl-row">
        <div class="flex-lg-row-fluid me-xl-15">
            <!--Заголовок-->
            <div class="mb-3">
            <div class="form-group">
              <label for="{{ todo.title.id_for_label }}">{{todo.title.label}}</label>
                {{ todo.title }}
                <div class="invalid-feedback">
                    {{ todo.title.errors }}
                </div>
            </div>
        </div>
            <!--Описание-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ todo.description.id_for_label }}">{{todo.description.label}}</label>
                    {{ todo.description }}
                    <div class="invalid-feedback">
                        {{ todo.description.errors }}
                    </div>
                </div>
            </div>
            <!--Файлы-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ fileform.attached_file.id_for_label }}">{{file_form.attached_file.label}}</label>
                    {{ file_form.attached_file }}
                    <div class="invalid-feedback">
                        {{ file_form.attached_file.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column flex-lg-row-auto w-100 w-xl-300px mb-10">
            <div class="row mb-5">
                <label>Действия</label>
                <div class="col col-6">
                    <button type = "submit" class="btn btn-primary">Сохранить</button>
                </div>
                {% if update %}
                <div class="col col-6">
                    <span class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_scrollable_2">Удалить</span>
                    <div class="modal fade" tabindex="-1" id="kt_modal_scrollable_2">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Удалить новость?</h5>
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                        <span class="svg-icon svg-icon-2x"></span>
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <div class="modal-body">
                                    <p>Удаление записи приведет к безвозратной потери, что не подлежит восстановлению</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
                                    <a href="{% url 'todo_delete' todo_main.pk%}">
                                    <button type="button" class="btn danger-primary">Удалить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!--Приоритет-->
            <div class="mb-3">
            <div class="form-group">
              <label for="{{ todo.priority.id_for_label }}">{{todo.priority.label}}</label>
                {{ todo.priority }}
                <div class="invalid-feedback">
                    {{ todo.priority.errors }}
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col col-6">
                    <!--Дата начала-->
                    <div class="mb-3">
                        <div class="form-group">
                          <label for="{{ todo.bdate.id_for_label }}">{{todo.bdate.label}}</label>
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                                <!--begin::Input-->
                                <div class="position-relative d-flex align-items-center">
                                    <!--begin::Icon-->
                                    <div class="symbol symbol-20px me-4 position-absolute ms-4">
                                        <span class="symbol-label bg-secondary">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                            <span class="svg-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </span>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Datepicker-->
                                    {{ todo.bdate }}
                                    <!--end::Datepicker-->
                                </div>
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="invalid-feedback">
                                {{ todo.bdate.errors }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-6">
                    <!--Дата завершения-->
                    <div class="mb-3">
                        <div class="form-group">
                          <label for="{{ todo.edate.id_for_label }}">{{todo.edate.label}}</label>
                            <div class="fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                                <!--begin::Input-->
                                <div class="position-relative d-flex align-items-center">
                                    <!--begin::Icon-->
                                    <div class="symbol symbol-20px me-4 position-absolute ms-4">
                                        <span class="symbol-label bg-secondary">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                            <span class="svg-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </span>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Datepicker-->
                                    {{ todo.edate }}
                                    <!--end::Datepicker-->
                                </div>
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="invalid-feedback">
                                {{ todo.edate.errors }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Прогресс-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ todo.progress.id_for_label }}">{{todo.progress.label}}</label>
                    {{ todo.progress }}
                    <div class="invalid-feedback">
                        {{ todo.progress.errors }}
                    </div>
                </div>
            </div>
            <!--Статус-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ todo.priority.id_for_label }}">{{todo.status.label}}</label>
                    {{ todo.status }}
                    <div class="invalid-feedback">
                        {{ todo.status.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    <!--Исполнено-->
                    <div class="mb-3">
                        <div class="form-group">
                          <label for="{{ todo.completed.id_for_label }}">{{todo.completed.label}}</label>
                            <div class="form-check form-switch">
                                {{ todo.completed }}
                            </div>
                            <div class="invalid-feedback">
                                {{ todo.completed.errors }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col col-6">
                    <!--Выделить-->
                    <div class="mb-3">
                        <div class="form-group">
                          <span>Выделить цветом</span><br>
                          <label for="{{ todo.reminder.id_for_label }}">Да</label>
                            {{ todo.reminder }}
                            <div class="invalid-feedback">
                                {{ todo.reminder.errors }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Автор-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ todo.author.id_for_label }}">{{todo.author.label}}</label>
                    {{ todo.author }}
                    <div class="invalid-feedback">
                        {{ todo.author.errors }}
                    </div>
                </div>
            </div>
            <!--Исполнитель-->
            <div class="mb-3">
                <div class="form-group">
                  <label for="{{ todo.executor.id_for_label }}">{{todo.executor.label}}</label>
                    {{ todo.executor }}
                    <div class="invalid-feedback">
                        {{ todo.executor.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
