{% extends 'base.html' %}

{% block title %}
  {{ news_item.title }}::{{ block.super }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block footer %}
  {% include 'inc/_footer.html' %}
{% endblock %}

{% block header %}
  {% include 'inc/_header.html' %}
{% endblock %}

{% block toolbar%}
    {% include 'inc/_toolbar.html' %}
{% endblock %}

{% load news_tags %}
{% load sidebar_last_news %}
{% load news_widgets %}
{% load project_tags %}
{% block content %}
	<!--begin::Card header-->
	<div class="card-header border-0 pt-6">
		<!--begin::Card title-->
		<div class="card-title">
			<!--begin::Search-->
			<div class="d-flex align-items-center position-relative my-1">
				<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
				<span class="svg-icon svg-icon-1 position-absolute ms-6">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
						<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
					</svg>
				</span>
				<!--end::Svg Icon-->
				<input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Поиск сотрудника">
			</div>
			<!--end::Search-->
		</div>
		<!--begin::Card title-->
		<!--begin::Card toolbar-->
		<div class="card-toolbar">
			<!--begin::Group actions-->
			<div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
				<div class="fw-bolder me-5">
				<span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
				<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete Selected</button>
			</div>
			<!--end::Group actions-->
		</div>
		<!--end::Card toolbar-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body py-4">
		<!--begin::Table-->
		<div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
			<div class="table-responsive">
			<table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_users">
			<!--begin::Table head-->
			<thead>
				<!--begin::Table row-->
				<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
					<th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 29.25px;">
						<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
							<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_users .form-check-input" value="1">
						</div>
					</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="User: activate to sort column ascending" style="width: 288.641px;">Пользователь</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 160.516px;">Должность</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Last login: activate to sort column ascending" style="width: 160.516px;">Статус</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Two-step: activate to sort column ascending" style="width: 160.516px;">Телефон</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Joined Date: activate to sort column ascending" style="width: 208.062px;">Телефон</th>
					<th class="min-w-125px sorting" tabindex="0" aria-controls="kt_table_users" rowspan="1" colspan="1" aria-label="Joined Date: activate to sort column ascending" style="width: 208.062px;">Местонахождение</th>
					<th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 129px;">Действия</th></tr>
				<!--end::Table row-->
			</thead>
			<!--end::Table head-->
			<!--begin::Table body-->
			<tbody class="text-gray-600 fw-bold">

			{% for department in department_ou %}
			<tr>
			<td>

			</td>

			<td class="d-flex align-items-center text-primary fw-bolder">
				{{department.description}}
			</td>

			<td></td>

			<td data-order="2022-10-01T10:49:34+06:00">
				<div class="badge {{user_p.profile.status.color}} fw-bolder"></div>
			</td>

			<td>
				<div></div>
			</td>

			<td></td>
			<td></td>

			<td class="text-end">

			</td>
			</tr>
				{% for user_p in user_p %}
				{% if user_p.profile.department == department %}
				<tr>
					<!--begin::Checkbox-->
					<td>
						<div class="form-check form-check-sm form-check-custom form-check-solid">
							<input class="form-check-input" type="checkbox" value="1">
						</div>
					</td>
					<!--end::Checkbox-->
					<!--begin::User=-->
					<td class="d-flex align-items-center">
						<!--begin:: Avatar -->
						<div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
							<a href="{% url 'profile_view' user_p.pk%}">
								{%if user_p.profile.photo %}
								<div class="symbol-label">
									<img src="{{user_p.profile.photo.url}}" alt="{{user_p.user_id}}" class="w-100">
								</div>
								{% else %}
								<span class="symbol-label bg-primary text-inverse-primary fw-bolder">{{user_p.first_name|upfirstletter}}</span>
								{% endif %}
							</a>
						</div>
						<!--end::Avatar-->
						<!--begin::User details-->
						<div class="d-flex flex-column">
							<a href="{% url 'profile_view' user_p.pk%}" class="text-gray-800 text-hover-primary mb-1">{{user_p.last_name}} {{user_p.first_name}} {{user_p.profile.fathers_name}}</a>
							<span>{{user_p.email}}</span>
						</div>
						<!--begin::User details-->
					</td>
					<!--end::User=-->
					<!--begin::Role=-->
					<td>{{user_p.profile.job_title}}</td>
					<!--end::Role=-->
					<!--begin::Last login=-->
					<td data-order="2022-10-01T10:49:34+06:00">
						<div class="badge {{user_p.profile.status.color}} fw-bolder">{{user_p.profile.status}}</div>
					</td>
					<!--end::Last login=-->
					<!--begin::Two step=-->
					<td>
						<div>{{user_p.profile.company}}</div>
					</td>
					<!--end::Two step=-->
					<!--begin::Joined-->
					<td>{{user_p.profile.telephone}}</td>
					<td>{{user_p.profile.location}}</td>
					<!--begin::Joined-->
					<!--begin::Action=-->
					<td class="text-end">
						<a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Действия
						<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
						<span class="svg-icon svg-icon-5 m-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
							</svg>
						</span>
						<!--end::Svg Icon--></a>
						<!--begin::Menu-->
						<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true" style="">
							<!--begin::Menu item-->
							<div class="menu-item px-3">
								<a href="{% url 'profile_view' user_p.pk %}" class="menu-link px-3">Посмотреть</a>
							</div>
							<!--end::Menu item-->
							<!--begin::Menu item-->
							<div class="menu-item px-3">
								<a href="{% url 'profile_edit' user_p.pk %}" class="menu-link px-3" data-kt-users-table-filter="delete_row">Редактировать</a>
							</div>
							<!--end::Menu item-->
						</div>
						<!--end::Menu-->
					</td>
					<!--end::Action=-->
				</tr>
				{% endif %}
				{% endfor %}
			{% endfor %}
			</tbody>
			<!--end::Table body-->
		</table>
		</div>
		</div>
	</div>

{% endblock %}