{% extends 'base.html' %}

{% block title %}
    {{ title }}::{{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'inc/_footer.html' %}
{% endblock %}

{% block header %}
    {% include 'inc/_header.html' %}
{% endblock %}

{% block toolbar%}
    {% include 'inc/_toolbar.html' %}
{% endblock %}

{% load project_tags %}
{% load static %}
{% load photoalbum_tags %}
{% block content %}

<div class="p-10">
    {% show_photoalbum_mainpage_header request category_id %}
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
        {% if page_type == 'photoalbum_list_all' %}
        {% show_photoalbum_list %}
        {% elif page_type == 'photoalbum_list_by_category'%}
        {% show_photoalbum_list_by_category category.pk %}
        {% endif %}
        <script src="{% static 'assets/plugins/custom/fslightbox/fslightbox.bundle.js' %}"></script>
    </div>
</div>


{% endblock %}